<Settings><Name>Herman</Name><Age>12</Age><Data><content><Data><Name>P12</Name><User>jeroen@datakneder.nl</User><Key>fhjkdsfdouyu0JMN()*J)(*nuj98few34fnhvafphanv4nf4a9</Key><Mandatory>Aa1</Mandatory><Alphabet>a-z</Alphabet><Size>40</Size><Locations><content><Location><Name>Mail</Name><URL>p12.nl\webmail</URL></Location></content></Locations></Data><Data><Name>HAN</Name><User>rvdij</User><Key>jflkdgsjfdlkjsdlgjlsjslkdgjljsgljflkjflkgdjlkgdfjugfpujhfkde309-3450th</Key><Mandatory>Aa1</Mandatory><Alphabet>\w\d</Alphabet><Size>40</Size><Locations><content><Location><Name>HanMail</Name><URL>webmail.han.nl</URL></Location></content></Locations></Data></content></Data><Location><content><item>HanMail</item></content></Location></Settings>