<Settings>
    <Name>Henk</Name>
    <Age>Onbekend</Age>
    <Locations>
        <content>
            <Location>
                <Name>Herman</Name>
                <URL>www.herman.nl\login</URL>
            </Location>
            <Location>
                <Name>Henk</Name>
                <URL>https://henk.nl/login</URL>
            </Location>
            <Location>
                <Name>Pieter</Name>
                <URL>www.pieter.nl/login</URL>
            </Location>
        </content>
    </Locations>
    <Font>
        <Name>Comic sans serif</Name>
        <Age>20</Age>
    </Font>
</Settings>