<Settings><Name>Henk</Name><Age>18</Age><Data><content><Data><Name>P12</Name><Mandatory>a</Mandatory><Alphabet>\w</Alphabet><User>jeroen@datakneder.nl</User><Key>jflsjdflsjfdlj</Key><Size>40</Size><Locations><content><Location><Name>Mail</Name><URL>p12.nl\webmail</URL></Location></content></Locations></Data><Data><Name>HAN</Name><Mandatory>Aa1</Mandatory><Alphabet>\w\d</Alphabet><User>jeroen.claassens@han.nl</User><Key>f;dskdfg;skfd;ksdf</Key><Size>40</Size><Locations><content><Location><Name>Mail (Han)</Name><URL>han.nl\mail\login</URL></Location></content></Locations></Data></content></Data><Location><content><item>P12</item></content></Location></Settings>